-@sidelinks = {:header => "HlaviÄka", "A-class" => "#aaa", "B-class" => "#bbb", "C-class" => "#ccc", "D-class" => "#ddd"}
-@spy = true

.page-header
  %h1 Listing products
%p Find me in app/views/home/index.html.haml
= translate "hello"
.row
  .span4
    .well{"data-spy" => "affix", "data-offset-top" => "200" }
      Some very long text
  .span6
    %h3#aaa aaa
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    aaa
    %br
    
    %h3#bbb bbb
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    bbb
    %br
    
    %h3#ccc ccc
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    ccc
    %br
    
    %h3#ddd ddd
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br
    ddd
    %br